* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.awards {
  .h1 {
    text-align: center;
    margin: 96px 0 48px 0;
    @include texts(48px, #1d2130, 700, 120%);
    font-family: "Roboto";
  }
  .section5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 208px;
    padding-bottom: 50px;
    .conts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      h1 {
        @include texts(24px, #1d2130, 700, 160%);
      }
      h2 {
        text-align: center;
        @include texts(16px, #1d2130, 700, 160%);
      }
      p {
        @include texts(12px, #1d2130, 500, 160%);
      }
    }
  }
}
