* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.bottom_side {
    display: flex;
    justify-content: space-between;
    // gap: 64px;
    padding-left: 96px;
    padding-top: 32px;
    h1 {
        @include texts (
            56px,
            #1D2130,
            700,
            120%
        );
        flex: 1.5;
    }
    .text {
        flex: 1.2;
    }
    h2 {
        @include texts (
            20px,
            #1D2130,
            700,
            150%
        );
        padding-bottom: 16px;
    }
    p{
        @include texts (
            16px,
            #1D2130,
            400,
            160%
        )
    }
}