@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Noto+Sans+Georgian:wght@100..900&family=Orbitron:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  font-family: "Roboto";
  margin-bottom: 90px !important;
}
.header_cont .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.header_cont .links a {
  text-decoration: none;
  color: #525560;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.header_cont .links a:hover {
  transform: scale(1.2);
  color: black;
}
.header_cont .links button {
  padding: 12px 32px;
  border-radius: 5px;
  background-color: #1D2130;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: 500;
  transition: 1s;
}
.header_cont .links button:hover {
  background-color: crimson;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.bottom_side {
  display: flex;
  justify-content: space-between;
  padding-left: 96px;
  padding-top: 32px;
}
.bottom_side h1 {
  font-size: 56px;
  color: #1D2130;
  font-weight: 700;
  line-height: 120%;
  flex: 1.5;
}
.bottom_side .text {
  flex: 1.2;
}
.bottom_side h2 {
  font-size: 20px;
  color: #1D2130;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 16px;
}
.bottom_side p {
  font-size: 16px;
  color: #1D2130;
  font-weight: 400;
  line-height: 160%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.missions {
  background-color: #eff7f2;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
  color: #1d2130;
  max-width: 1108px;
  margin: auto;
  padding-bottom: 96px;
  padding-top: 80px;
}
.section3 h2 {
  font-size: 16px;
  color: #1d2130;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 16px;
}
.section3 h1 {
  font-size: 28px;
  color: #1d2130;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 8px;
}

.images_section h2 {
  font-size: 16px;
  color: #1d2130;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 48px;
}

.images {
  display: flex;
  gap: 96px;
  padding-bottom: 96px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.awards .h1 {
  text-align: center;
  margin: 96px 0 48px 0;
  font-size: 48px;
  color: #1d2130;
  font-weight: 700;
  line-height: 120%;
  font-family: "Roboto";
}
.awards .section5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 208px;
  padding-bottom: 50px;
}
.awards .section5 .conts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.awards .section5 .conts h1 {
  font-size: 24px;
  color: #1d2130;
  font-weight: 700;
  line-height: 160%;
}
.awards .section5 .conts h2 {
  text-align: center;
  font-size: 16px;
  color: #1d2130;
  font-weight: 700;
  line-height: 160%;
}
.awards .section5 .conts p {
  font-size: 12px;
  color: #1d2130;
  font-weight: 500;
  line-height: 160%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.journey {
  padding-top: 50px;
  margin-bottom: 48px;
}

.section6 {
  background-color: black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
  gap: 48px;
}
.section6 .left_side {
  padding-left: 96px;
}
.section6 .left_side .achieves {
  display: flex;
  gap: 32px;
}
.section6 .h1 {
  font-size: 48px;
  color: white;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 16px;
}
.section6 h1 {
  font-size: 24px;
  color: white;
  font-weight: 500;
  line-height: 120%;
}
.section6 h2 {
  font-size: 20px;
  color: white;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 16px;
}
.section6 p {
  font-size: 12px;
  color: white;
  font-weight: 500;
  line-height: 160%;
  padding-bottom: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.our_team {
  padding-top: 48px;
}
.our_team .h1 {
  font-size: 56px;
  color: #1D2130;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  padding-bottom: 16px;
}
.our_team .p {
  font-size: 16px;
  color: #525560;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  padding-bottom: 48px;
}

.grid_side {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 2;
}
.grid_side .members {
  padding-bottom: 40px;
  text-align: center;
}
.grid_side .members h2 {
  font-size: 20px;
  color: #1D2130;
  font-weight: 500;
  line-height: 160%;
  padding: 16px 0 8px 0;
}
.grid_side .members p {
  font-size: 12px;
  color: #1D2130;
  font-weight: 500;
  line-height: 160%;
  padding-bottom: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section8 {
  padding-bottom: 48px;
}

.bg_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("/images/bg_image.png");
  border-radius: 12px;
  width: 1500px;
  height: 384px;
  background-repeat: no-repeat;
}
.bg_image .yozuv {
  padding-top: 93px;
  text-align: center;
}
.bg_image .yozuv h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 102%;
  padding-bottom: 32px;
}
.bg_image .yozuv .btn {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: 500;
  transition: 1s;
  margin-left: 32px;
}
.bg_image .yozuv .first {
  background-color: #70C174;
}
.bg_image .yozuv .second {
  background-color: white;
  color: #1D2130;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.our_news {
  padding: 48px 0 48px 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.head hr {
  max-width: 981px;
  width: 100%;
  height: 2px;
  background-color: #E5E5E5;
  color: #E5E5E5;
  border: none;
  margin-bottom: 40px;
}
.head h1 {
  font-size: 40px;
  color: #1D2130;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 48px;
}

.section9 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1);
  gap: 5px;
}
.section9 .news h2 {
  font-size: 20px;
  color: #1C1D28;
  font-weight: 500;
  line-height: 150%;
  margin: 16px 0 8px 0;
}
.section9 .news p {
  font-size: 16px;
  color: #525560;
  font-weight: 400;
  line-height: 160%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.our_events {
  padding: 48px 0 48px 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.head hr {
  max-width: 971px;
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
  color: #e5e5e5;
  border: none;
  margin-bottom: 40px;
}
.head h1 {
  font-size: 40px;
  color: #1d2130;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 48px;
}

.section10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 48px;
}
.section10 .events {
  display: flex;
  flex: 1;
  padding: 32px 40px;
  background-color: #bef3c0;
  border-radius: 8px;
  gap: 24px;
  align-items: center;
}
.section10 .events .top {
  padding-bottom: 50px;
}
.section10 .events h2 {
  font-size: 48px;
  color: #1d2130;
  font-weight: 500;
  line-height: 120%;
}
.section10 .events h3 {
  font-size: 16px;
  color: #1d2130;
  font-weight: 500;
  line-height: 100%;
}
.section10 .events h1 {
  font-size: 28px;
  color: #1d2130;
  font-weight: 700;
  line-height: 150%;
}
.section10 .events .next {
  display: flex;
  align-items: center;
  gap: 23px;
}
.section10 .events .next hr {
  width: 44px;
  height: 2px;
  color: #1d2130;
  background-color: #1d2130;
  border: none;
}
.section10 .events .column {
  display: flex;
  flex-direction: column;
}
.section10 .events button {
  border: none;
  background-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: black;
}

.footer {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
}
.footer img {
  height: 24px;
}
.footer h1 {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 32px;
}
.footer .input {
  display: flex;
}
.footer .input input {
  padding: 22px 200px 22px 24px;
  background-color: transparent;
  border: 1px solid rgba(235, 240, 249, 0.3019607843);
  color: rgba(235, 240, 249, 0.3019607843);
  font-size: 16px;
  border-radius: 4px;
}
.footer .input button {
  padding: 22px 24px;
  background-color: white;
  border: 1px solid rgba(235, 240, 249, 0.3019607843);
  border-radius: 4px;
  color: #1d2130;
  font-weight: 500;
  font-size: 16px;
}
.footer .footer_links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer .footer_links p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  line-height: 160%;
}
.footer .footer_links a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6705882353);
  font-weight: 400;
  line-height: 160%;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.min_container {
  max-width: 1108px;
  margin: auto;
}

.hnow_about_us {
  display: flex;
  align-items: center;
  gap: 25px;
}
.hnow_about_us .chiziq {
  width: 72px;
  height: 2px;
  color: #1D2130;
  background-color: #1D2130;
}
.hnow_about_us p {
  font-size: 16px;
  color: #1D2130;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2px;
  font-family: "Roboto";
}

.video_img {
  margin-top: 96px;
  margin-bottom: 60px;
}/*# sourceMappingURL=style.css.map */